__pycache__/
*.py[cod]
*$py.class


*.log

*.swp
*.swo
*.bak
.DS_Store
.idea/
.vscode/

.env

*.sqlite3
*.db

assets/models/*
!assets/models/.gitkeep

.ipynb_checkpoints/

build/
dist/
*.egg-info/

htmlcov/
.coverage
coverage.xml
.cache/

.pytest_cache/

.mypy_cache/
.dmypy.json
